.head {
    /* background: url('/public/images/placeholderphoto.jpeg'); */
    /* background: url('/public/images/Chris_Likedin_5star.png');
    background-position: center;
    background-size: cover;  */
    position: relative; 
    background-color: #FFD55E;
    height:1080px;
    width: auto;
    text-align: center;
    
}

.lefteye {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 57%;
}
.leftpupil {
    height: 150px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 25%;
}

.righteye {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 17%;
}

.rightpupil {
    height: 150px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 25%;
}

.socialmedia {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

#name {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 400%;
}

#downBtn {
    position: absolute;
    top: 90%;
    text-align: center;
    font-size: 30px;
}

@media (max-height: 850px) {
    .head {
        height: calc(100vh - 100px);
    }

}