#skill {
    background-color: whitesmoke;
    background-size: cover;
    overflow-x: hidden;   
    /* height: calc(100vh - 100px); */
    /* overflow-y: 'scroll'; */
}

/* Progressive Circle */
h4 {
    text-align: center;
}

.circles {
    margin: auto;
}

@media (max-width: 770) {
    #skill {
        height: calc(100vh - 100px);
    }
}