#home {
    background: url('/public/images/headerxD.png') center no-repeat;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important; /* 100% of the viewport height */
}

.socialmedia {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

#name {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 300%;
}

#downBtn {
    position: absolute;
    top: 90%;
    text-align: center;
    font-size: 30px;
}

@media (max-height: 850px) {
    .head {
        height: calc(100vh - 100px);
    }

}