@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
  --darkblue: rgb(92, 117, 146);
  --lighterblue:rgb(92, 117, 146, .4);
  --clickables: rgb(92, 117, 146, .6);
}

html {
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

section {
  padding: 10% 0;
}
/* Navbar  */
#navbar {
  background-color: var(--darkblue);
  width:100%;
  height: 90px;
  justify-content: space-around;
  position: fixed;
  top: -90px;
  z-index: 1;
  transition: top 0.3s;
}
#navbar.visible {
  top:0;
}
#navbar.hidden {
  top: -90px;
}
.navbar > .active {
  font-weight: bold;
}
#showAfter {
  display:none;
}

/* Click icons and buttons */
#clicks {
  color:var(--darkblue);
  text-decoration: none;

}
#clicks:hover {
  color:var(--lighterblue)
}

#description {
  background-color: var(--darkblue);
  text-decoration: none;

}
#description:hover{
  background-color: var(--lighterblue);
}

/* Footer */
footer {
  background-color: var(--darkblue);
  background-size: cover;
  padding:5% 0;
}

@media only screen and (max-width: 650px) {
  #showAfter {
    position:relative;
    bottom:250px;
    left: 200px;
  }
}
