#skill {
    /* background-color: whitesmoke; */
    background-color: var(--lighterblue);
    background-size: cover;
    overflow-x: hidden;   
    /* height: calc(100vh - 100px); */
    /* overflow-y: 'scroll'; */
}

@media (max-width: 770) {
    #skill {
        height: calc(100vh - 100px);
    }
}